agno
langgraph
python-dotenv
langchain
langchain_openai
langchain-core
langchain-ollama
langsmith
numpy==1.26.4
pandas
pillow
pip
requests
regex
tqdm
rich
scipy
streamlit==1.35.0
streamlit-elements==0.1.*
openpyxl
httpx
openai
sqlalchemy
plotly
pipx
langchain-community
langchain_groq
langchain-ollama
faker
langchain_tavily